@import '~bootstrap/scss/bootstrap';

#jumbotron {
    height: 500px;
    background-color: #245501;

}

.table-word {
    border-top: 1px solid black;
}

body {
    font-family: "Merriweather", serif;
}