@import '~bootstrap/scss/bootstrap';

#jumbotron {
    height: 500px;
    background-color: #245501;

}

.table-word {
    border-top: 1px solid black;
}

#info-word {
    border-top: 1px solid black;
    padding-top: 20px;
    margin-top: 20px;
}

.img-word-guest {
    width: 100%;
}

#footer {
    height: 300px;
    margin-top: 20px;
}

.footer-body {
    border-top: 1px solid black;
}

body {
    font-family: "Merriweather", serif;
}